version: '3'

services:
  gipkon-app:
    image: ghcr.io/mementomori460/gipkon:latest
    restart: always
    ports:
      - "33031:3000"
    environment:
      - NEXTAUTH_SECRET=changeme # Portainer'dan değiştirmeyi unutmayın
      - NEXTAUTH_URL=https://siteniz.com
    volumes:
      # Data klasörünü dışarıya bağlıyoruz ki veriler kaybolmasın
      - ./data:/app/data
      # Upload edilen resimler için
      - ./public/uploads:/app/public/uploads
