version: '3'

services:
  gipkon-app:
    image: ghcr.io/mementomori460/gipkon:latest
    restart: always
    ports:
      - target: 3000
        published: 33031
        protocol: tcp
        mode: host
    environment:
      - NEXTAUTH_SECRET=changeme # Portainer'dan değiştirmeyi unutmayın
      - NEXTAUTH_URL=https://siteniz.com
    volumes:
      # Named Volumes kullanıyoruz (Swarm uyumlu ve güvenli)
      - gipkon_data:/app/data
      - gipkon_uploads:/app/public/uploads

volumes:
  gipkon_data:
  gipkon_uploads:
